.room-container {
  text-align: center;
}
.title-list {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 20px;
}
.search-filter-add-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 30px;
}
.search-filter-container {
  display: flex;
  gap: 10px;
}
.search-input,
.filter-select {
  border-radius: 5px;
  width: 250px;
  height: 36px;
}
.add-room-button {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  color: white !important;
  font-weight: bold;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
}
.add-room-button:hover {
  background-color: #0156a5 !important;
  border-color: #0156a5 !important;
}
.room-table {
  border-radius: 8px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 10px;
}
.action-buttons {
  display: flex;
  gap: 10px;
}
.info-btn {
  background-color: #faad14 !important;
  border-color: #faad14 !important;
  color: white !important;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
}
.info-btn:hover {
  background-color: #d48806 !important;
  border-color: #d48806 !important;
}
.edit-btn {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  color: white !important;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
}
.edit-btn:hover {
  background-color: #0156a5 !important;
  border-color: #0156a5 !important;
}
.delete-btn {
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: white !important;
  padding: 8px 12px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #d9363e !important;
  border-color: #d9363e !important;
}
