.content {
  padding: 40px;
}

.custom-edit-btn {
  background-color: #1890ff !important;
  color: white !important;
  border-color: #1890ff;
}

.custom-edit-btn:hover {
  opacity: 0.8;
}
.btn-mapview{
  background-color: red !important;
}

.btn-mapview:hover {
  opacity: 0.7;
}

.custom-ok-btn {
  background-color: #1890ff !important;
  color: white !important;
  border-color: #1890ff;
}

.custom-ok-btn:hover {
  opacity: 0.8;
}

.custom-add-btn {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  color: white !important;
  font-weight: bold;
  height: 36px;
  display: flex;
  align-items: center;

  
}

.search-filter-add-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}