* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

.movie-detail-header {
    text-align: center;
    background-color: #DAD2B4;
}

.movie-detail-title {
    display: inline-block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid black;
}



.trailer-modal {
    background-color: #231F20;
    height: 500px;
}

.movie-trailer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.movie-image-trailer {
    max-width: 100%;
    max-height: 90%;
    object-fit: cover;
    cursor: pointer;
}


.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.movie-image-container:hover .play-icon {
    opacity: 1;
}


.movie-detail-contentunique {
    width: 1100px;
    margin: 0 auto
}

.movie-detail-main-info {
    display: flex;
    padding-top: 40px;
    margin-bottom: 50px
}

.movie-detail-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}

.movie-detail-image img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.btn-book-ticket {
    background-color: #231f20;
    color: #cdc197;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 44px;
    margin: 10px 0px 0px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    width: 200px;
    border: none;
}

.btn-book-ticket:hover {
    background-color: #cdc197;
    color: #231f20;
    border: none;
}



.movie-detail-name {
    color: #231f20;
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}


.movie-detail-inf-wrapper {
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

.movie-detail-inf-wrapper p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin: 6px 0;
    padding:5px;
    border-left: 4px solid #d4af37;
    font-size: 19px;
    color: #333;
    margin: 5px 0;
}

.movie-meta-inforunique {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.movie-detail-inf-wrapper p {
    margin-bottom: 10px;
}

.movie-detail-inf-wrapper p span.label {
    font-weight: bold;
    color: #000;
}

.movie-detail-inf-wrapper p span.value {
    font-weight: normal;
    color: #333;
}


.movie-detail-summary-title {
    margin-bottom: 20px;
    font-size: 22px;
    color: #231f20;
}

.movie-detail-summary-text {
    font-size: 16px;
    color: #666;
    line-height: 22px;
}

.movie-detail-reviews {
    width: 1100px;
    margin: 0 auto;
    padding-top: 80px;
}

.review-header-title {
    margin-bottom: 20px;
    font-size: 22px;
    color: #231f20;
}

.review-input {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 110px;
    margin-bottom: 30px;
    border: 0, 2px solid #9f9a9a;
}

.review-textarea {
    background-color: #f5f5f5;
    color: #666;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    border: 0, 2px solid #9f9a9a;
    resize: none;
}


.review-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 270px;
    border: 1px solid #9f9a9a;
}

.review-rating label {
    color: #231f20;
    font-weight: 700;
    line-height: 16px;
    margin: 0px 0px 8px;
    text-align: center;
}

.star-container {
    display: flex;
    gap: 5px;
}

.star {
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px #9f9a9a;
    cursor: pointer;
    transition: color 0.3s;
}

.star.filled {
    color: black;
    -webkit-text-stroke: 1px black;
}


.review-submit-btn {
    width: 200px;
    background-color: #231f20;
    color: #cdc197;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 101px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.review-submit-btn:hover {
    background-color: #cdc197;
    color: #231f20;
}

.divider {
    border: none;
    height: 2px;
    background-color: black;
    margin: 40px 0;
}

.review-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Khoảng cách giữa các review */
    margin-top: 20px;
}

.review-item {
    background-color: #fff;
    padding: 20px 0 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #c2bfbf;
}


.review-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-header:not(:last-child) {
    border-right: 1px solid #ccc;
}

.review-role {
    background-color: #33373a;
    color: #fff;
    width: 80px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    padding: 2px 5px;
    margin: 0px 6px 8px 0px;
    text-align: center;
}

.review-stars {
    font-size: 18px;
    color: #ffcc00;
}

.review-content {
    margin-bottom: 10px;
    width: 800px;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    word-break: break-word;
}

.review-date {
    font-size: 12px;
    color: #666;
    font-style: italic;
}

.review-user {
    display: table;
    width: 100%;
    height: 60px;
}

.review-username {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.custom-modal .MuiPaper-root {
    background-color: #1a1a1a !important;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.custom-modal .MuiDialogTitle-root {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.custom-modal .MuiDialogActions-root {
    justify-content: center;
}


.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}