.container_content {
  text-align: center;
  margin: 30px;
}

.roomHeader {
  font-size: 54px;
  font-weight: bold;
}
.searchFilterCreactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.searchInput {
  width: 300px;
  margin-right: 16px;
}

.filterSelect {
  width: 200px;
}

.table {
  width: 100%;
}

.createRoomButton,
.saveChangesButton {
  background-color: blue !important;
  border-color: blue !important;
  color: white !important;
  font-size: 16px;
  height: 40px;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

.createRoomButton:hover,
.saveChangesButton:hover {
  background-color: darkblue !important;
  border-color: darkblue !important;
}
