.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.payment-ticket {
  display: flex;
  flex-direction: row;
  width: 75%;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

.payment-left {
  width: 40%;
  background: #ff6f00;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-poster {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.payment-right {
  width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.payment-info p,
.movie-title,
.payment-method {
  font-size: 20px;
  margin: 5px 0;
  line-height: 2;
}

.payment-button {
  width: 100%;
  background-color: #ff5722 !important;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.payment-button:hover {
  background-color: #e64a19 !important;
}
