* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.movie-list {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 485px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.hot_movies {
    text-align: center;
    background-color: #DAD2B4;
}

.title {
    display: inline-block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid black;
}


.screen_cwrapparent {
    position: relative;
}

.screen_cwrap {
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px
}


.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.movie-item {
    flex: 1 1 calc(25% - 15px);
    max-width: calc(25% - 15px);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}



.movie-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    transition: filter 0.2s ease;
}



.movie-image-container {
    position: relative;
}

.movie-image-container:hover .movie-image {
    filter: brightness(0.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie-image-container:hover .overlay {
    opacity: 1;
}

.movie-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie-image-container:hover .movie-actions {
    opacity: 1;
}


.btn {
    background-color: transparent;
    border: 1px solid #c0b687;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 19px;
    font-family: Arial;
    transition: background-color 0.3s;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 50px;
    width: 200px;
    color: #c0b687;
}

.btn a {
    text-decoration: none;
    color: #c0b687;
}

.btn:hover {
    background-color: #c0b687;
    color: white;
}

.btn:hover a {
    color: white;
}


.movie-info {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.movie-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: block;
    margin: 0 auto;
    font-weight: 900;
    font-family: Arial;
}

.movie-details {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.movie-details p {
    padding: 0 20px;
    font-size: 13px;
    color: #777;
    font-family: Arial;
}

.movie-details p:not(:last-child) {
    border-right: 1px solid #ccc;
}

.btn-add-close {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 0;
    background: #efefef;
    border: 1px solid #dedede;
    text-align: center;
    font-size: 14px;
    color: #231f20;
    font-weight: bold;
    box-sizing: border-box;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-add-close:hover {
    background: #ede9e9;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 20px;
}

.filter-buttons button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.filter-buttons button.active {
    background-color: #c0b687;
    color: white;
}