.custom-switch.ant-switch-checked {
    background-color: #1677ff !important;
    /* Đổi màu nền khi bật */
}

.custom-switch {
    background-color: #d3d3d3 !important;
    /* Đổi màu nền khi tắt */
}

.feedback__star-container {
    display: flex;
    gap: 5px;
}

.feedback__star {
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px #ffcc00;
    cursor: pointer;
    transition: color 0.3s;
}

.feedback__star.filled {
    color: #ffcc00;
    -webkit-text-stroke: 1px #ffcc00;

}

.feedback__review-submit-btn {
    background-color: #231f20 !important;
    color: #cdc197 !important;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.feedback__review-submit-btn:hover {
    background-color: #cdc197 !important;
    color: #231f20 !important;
}

.feedback__review-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 350px;
    /* border-right: 1px solid #9f9a9a; */
    background-color: #f5f5f5;
}

.feedback__review-textarea {
    /* background-color: #f5f5f5; */
    /* color: #666; */
    font-size: 14px;
    padding: 10px;
    width: 100%;
    /* border: 1px solid #9f9a9a; */
    resize: none;
}