* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.footer {
    color: #777;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}


.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;

}


.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #DAD2B4;
    display: inline-block;
    padding-bottom: 5px;
}


.footer-section p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
    text-align: start;
    padding: 10px 30px;

}


.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;

}

.footer-section ul li a {
    color: #777;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #DAD2B4;
}


.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    color: #777;
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: #DAD2B4;
    transform: scale(1.2);
}


.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #bbb;
}


.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.banner img,
.banner-secondary img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}