.container {
    max-width: 1200px;
    /* Giới hạn độ rộng tối đa */
    margin: 0 auto;
    /* Căn giữa */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.title-header{
    text-align: center;
        background-color: #DAD2B4;
        padding: 6px 10px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        /* Giới hạn độ rộng theo nội dung */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.title-header h3{
    display: inline-block;
       
        border-bottom: 2px solid black;
}
.ticket-card {
    width: 300px;
        height: 450px;
    padding: 15px;
    border-radius: 15px;
    background-color: #efebdb;
    width: 100%;
    /* background: linear-gradient(to right, #ffffff, #fff3e0); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}


/* Chia layout thành 2 cột */
.ticket-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-movie {
    width: 200px;
    height: 300px;
    /* flex-shrink: 0; */
}

.img-movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

/* Thông tin vé bên phải */
.information-ticket {
    flex: 1;
    font-size: 16px;
}

.information-ticket h3 {
    color: #f95050;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.information-ticket div {
    font-size: 16px;
    margin-bottom: 8px;
}

/* QR Code */
.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
}

.qr-container img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    border: 2px solid #d32f2f;
    padding: 6px;
    border-radius: 8px;
}

/* Responsive */
@media (max-width: 768px) {
    .ticket-content {
        flex-direction: column;
        text-align: center;
    }

    .img-movie {
        width: 100px;
        height: 150px;
    }
}